<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Default.master.cs" Inherits="WebApplication.Default" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>
    <asp:ContentPlaceHolder ID="title" runat="server">
    </asp:ContentPlaceHolder>
    </title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
</body>
</html>
